.square {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.flow-num {
  line-height: 56px;
  top: -28px;
  background-color: $secondary;
}
.scrollbar {
  // 不會出現X軸，但會出現scrollbar
  @include scrollbar;
}
.opacity-50 {
  opacity: 0.5;
}
.login-icon {
  @include size(24px, 24px);
}
.login-line::before {
  content: '';
  position: absolute;
  background-color: $gray-50;
  top: 16px;
  left: 0;
  width: 36%;
  height: 2px;
  @include mobile {
    width: 33%;
  }
}
.login-line::after {
  content: '';
  position: absolute;
  background-color: $gray-50;
  top: 16px;
  right: 0;
  width: 36%;
  height: 2px;
  @include mobile {
    width: 33%;
  }
}
