.square {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.flow-num {
  line-height: 56px;
  top: -28px;
  background-color: $secondary;
}
.scrollbar {
  // 不會出現X軸，但會出現scrollbar
  @include scrollbar;
}
.opacity-50 {
  opacity: 0.5;
}
