.scrollTopBtn {
  text-decoration: none;
  position: fixed; /*圓形圖示*/
  display: flex; /*^圖示*/
  justify-content: center; /*^圖示置中*/
  align-items: center; /*^圖示置中*/
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 80px;
  border-radius: 50px;
  background: $success;
  &:hover {
    text-decoration: none;
    background: $info;
  }
  i {
    color: $light;
  }
}

.scrollRightBtn {
  text-decoration: none;
  display: flex; /*^圖示*/
  justify-content: center; /*^圖示置中*/
  align-items: center; /*^圖示置中*/
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background: linear-gradient(to top, #62db54, #09acf5);
  transition: all 0.5s;
  &:hover {
    transform: scale(1.2);
  }
}
